*.pyc
*.pyo
*.log
*.sqlite3
*.db3
*.mo
.DS_Store
.idea
.pytest_cache
.venv/
__pycache__/
docs/build/
docs/source/_build/
sampleproject/workflow.log
sampleproject/data.sqlite
sampleproject/flags
leavedemo/workflow.log
sampleproject/db/sampleprojectdata.sqlite3
.cache/
jwt-signing.pem
jwt-signing.pub