{% extends "goflow/base.html" %}
{% load i18n %}


{% block title %}{{ title|escape }} | {% trans 'GoFlow' %}{% endblock %}

{% block branding %}
    <div>
        <a href="http://code.djangoproject.com/wiki/GoFlow">
            <h1 id="site-name">{% trans 'GoFlow' %}</h1>
        </a>
    </div>



{% endblock %}

{% block nav-global %}{% endblock %}
{% block nav-sidebar %}
<div id="nav-sidebar">
    <div class="module">
        <h2>GoFlow</h2>
        <ul>
            <li><a href="/ui/sample-task/">UI sample task</a></li>
            <li><a href="/monitor/">Monitoring dashboard</a></li>
            <li><a href="/docs/build/html/" target="docs">Documentation (local)</a></li>
        </ul>
    </div>
</div>
{% endblock %}
